@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css */
.meter-container {
  position: relative;
  width: 100%;
  height: 1.25rem; /* Adjust the height as needed */
}

.meter-container .meter-value {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #af664c; /* Default color */
  transition: background-color 0.3s ease;
}

/* Conditional color styling based on class */
.meter-container.high .meter-value {
  background-color: transparent; /* Green color for high values */
}

.meter-container.low .meter-value {
  background-color: red; /* Red color for low/negative values */
}

